html, body {
    background-color: rgb(32, 33, 51);
    color: gainsboro;
}

body {
    display: flex;
    align-items: top;
    justify-content: center;
}

#mainpage {
    color: gainsboro;
    padding: 2px 4px 2px 4px;
    font-family: consolas;
    font-size: 15px;
    height: 100px;
}